.products {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.products__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 7px;
    background-color: #111;
    width: 28.8%;
}

.products__item__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: #fff;
}

.products__item__price {
    color: #06A5DE;
}

.products__item__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.products__item__footer button {
    background-color: #06A5DE;
}