.home {
    padding: 50px 0;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.mainText {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainText h1 {
    color: #06A5DE;
}

.mainText button {
    width: 200px;
    color: #fff;
    background-color: #06A5DE;
}

.banner {
    height: 450px;
    width: 600px;
}


.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 30px;
}

.slider {
    width: 650px;
    height: 450px;
}

