.home {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.banner {
    height: 600px;
    width: 100%;
}

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}